<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../static/css/style19.css">
</head>
<body>
    <header>
        	<nav>
            	<ul class="menu" >
                	<li><a href="/add_post">>_ add_post</a></li>
                	<li><a href="/delete_article">>_ delete_post</a></li>
                    <li><a href="/">>_ host</a></li>
           		 </ul>
        	</nav>
    </header>

		<main>
			{%block main%}
            {%endblock%}
		</main>

</body>
</html>